name = "firefly-api"
main = "worker/shim.wasm"
compatibility_date = "2024-01-01"
account_id = "uaena@uaena.fans" # 从 Cloudflare 面板复制
workers_dev = true # 部署到 *.workers.dev 子域名
#[build]
#command = "cargo install -q worker-build && worker-build --release"

[build]
command = ""
upload = { dir = "./worker" }

# 开发服务器配置（可选）
[dev]
port = 8787
ip = "0.0.0.0"
