name = "firefly-api"
main = "build/worker/shim.mjs"
compatibility_date = "2025-06-22"

#[build]
#command = "cargo install -q worker-build && worker-build --release"

[build]
command = ""
upload = { dir = "./worker" }

# 开发服务器配置（可选）
[dev]
port = 8787
ip = "0.0.0.0"
