name = "firefly-api"
main = "build/worker/shim.wasm"
compatibility_date = "2024-01-01"
account_id = "bcd149fd84b27bb018a50ef164d4113d" # 从 Cloudflare 面板复制
workers_dev = true # 部署到 *.workers.dev 子域名
#[build]
#command = "cargo install -q worker-build && worker-build --release"

[build]
command = ""

# 开发服务器配置（可选）
#[dev]
#port = 8787
#ip = "0.0.0.0"
[observability]
[observability.traces]
enabled = true
